.navbar {
    transition: all 0.4s;
}


.navbar .nav-link {
    color: #fff;
}


.navbar .nav-link:hover {
    color: #EF233C;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #282d32;
}

/* .active{
    background: #e6acb3;   
} */

.headerZaobljeno{
  border-bottom-left-radius: 10%; 
  border-bottom-right-radius: 10%;
}


.navbar.active .nav-link:hover {
    color: #EF233C;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #282d32;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #282d32;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 1rem !important;
}


body {
    min-height: 110vh;
    background-color: #84a98c;
    background-image: linear-gradient(135deg, #9fb6a4 0%, #c4e0e5 100%);
}


.middle{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* MODAL NUTRICIONISTA ===================================*/
/* MODAL NUTRICIONISTA ===================================*/
/* MODAL NUTRICIONISTA ===================================*/
/* MODAL NUTRICIONISTA ===================================*/
/* MODAL NUTRICIONISTA ===================================*/

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
 
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* LOGIN =================================================*/
/* LOGIN =================================================*/
/* LOGIN =================================================*/
/* LOGIN =================================================*/
/* LOGIN =================================================*/

  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

  .buttonL {
    background-color: #84a98c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .buttonL:hover {
    opacity: 0.8;
  }
  

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container1 {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
 
  .modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .PDFexport{
    margin-top: 20px;
    margin-left: 100px;
      background-color: #A5BCAE; /* Green */
      border: none;
      color: rgb(250, 250, 250);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
  }
 
  .modal-content1 {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }
  
 
  .close1 {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
/* REGISTRACIJA -------------------------------------------------------*/
/* REGISTRACIJA -------------------------------------------------------*/
/* REGISTRACIJA -------------------------------------------------------*/
/* REGISTRACIJA -------------------------------------------------------*/
/* REGISTRACIJA -------------------------------------------------------*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

 
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  .buttonR {
    background-color: #84a98c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .buttonR:hover {
    opacity:1;
  }
  

  .cancelbtnR {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  
  .cancelbtnR, .signupbtnR {
    float: left;
    width: 50%;
  }
  
  
  .containerR {
    /* padding: 16px; */
  }
  

 
  .modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    /* background-color: #474e5d; */
    /* padding-top: 30px; */
  }
  
 
  .modal-content2 {
    background-color: #fefefe;
    margin: 0% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
 
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  
  .closeR {
    position: absolute;
    right: 35px;
    top: 0;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .closeR:hover,
  .closeR:focus {
    color: #f44336;
    cursor: pointer;
  }
  
 
  .clearfixR::after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  @media screen and (max-width: 300px) {
    .cancelbtnR, .signupbtnR {
       width: 100%;
    }
  }

  /* KOMENTARI */

.komentar-cont {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.komentar-cont::after {
  content: "";
  clear: both;
  display: table;
}

.komentar-cont img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.komentar-cont span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .komentar-cont {
      text-align: center;
  }
  .komentar-cont img {
      margin: auto;
      float: none;
      display: block;
  }
}
/* OCENE */

.star-rating {
  margin: 25px 0 0px;
 font-size: 0;
 white-space: nowrap;
 display: inline-block;
 width: 175px;
 height: 35px;
 overflow: hidden;
 position: relative;
 background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
 background-size: contain;
}
.star-rating i {
 opacity: 0;
 position: absolute;
 left: 0;
 top: 0;
 height: 100%;
 width: 20%;
 z-index: 1;
 background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
 background-size: contain;
}
.star-rating input {
 -moz-appearance: none;
 -webkit-appearance: none;
 opacity: 0;
 display: inline-block;
 width: 20%;
 height: 100%;
 margin: 0;
 padding: 0;
 z-index: 2;
 position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
 opacity: 1;
}
.star-rating i ~ i {
 width: 40%;
}
.star-rating i ~ i ~ i {
 width: 60%;
}
.star-rating i ~ i ~ i ~ i {
 width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
 width: 100%;
}
.choice {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 text-align: center;
 padding: 20px;
 display: block;
}
span.scale-rating{
margin: 5px 0 15px;
   display: inline-block;
  
   width: 100%;
  
}
span.scale-rating>label {
 position:relative;
   -webkit-appearance: none;
 outline:0 !important;
   border: 1px solid grey;
   height:33px;
   margin: 0 5px 0 0;
 width: calc(10% - 7px);
   float: left;
 cursor:pointer;
}
span.scale-rating label {
 position:relative;
   -webkit-appearance: none;
 outline:0 !important;
   height:33px;
     
   margin: 0 5px 0 0;
 width: calc(10% - 7px);
   float: left;
 cursor:pointer;
}
span.scale-rating input[type=radio] {
 position:absolute;
   -webkit-appearance: none;
 opacity:0;
 outline:0 !important;
   /*border-right: 1px solid grey;*/
   height:33px;

   margin: 0 5px 0 0;
 
 width: 100%;
   float: left;
 cursor:pointer;
 z-index:3;
}
span.scale-rating label:hover{
background:#fddf8d;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{
   -webkit-appearance: none;

   margin: 0;
 background:#fddf8d;
}
span.scale-rating label:before
{
 content:attr(value);
   top: 7px;
   width: 100%;
   position: absolute;
   left: 0;
   right: 0;
   text-align: center;
   vertical-align: middle;
 z-index:2;
}

/* KORNIK=================== */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #f1f1f1;
  
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}

.ver-avatar:hover{
  background-color: white;
  text-decoration: none;
  color: #fff;
  padding: 2px;
  border: 2px;
  border-radius: 100%;
  border-style: solid;
  transition: 0.5s ease;
  margin: 0px;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}